[Unit]
Description = Groupme Bot
After = network.target

[Service]
Type = simple
User = bunu
ExecStart = /home/bunu/GroupMe_Bot/scripts/bot.sh start
ExecStop = /home/bunu/GroupMe_Bot/scripts/bot.sh stop
ExecReload = /home/bunu/GroupMe_Bot/scripts/bot.sh restart
Restart = on-failure
RestartSec = 5

[Install]
WantedBy = multi-user.target
